<div class="slider">

  <ng-container *ngFor="let movie of movies; let i = index">

    <div class="slide" *ngIf="i==currentSlideIndex" @slideFade>

      <div class="slide-background">
        <img class="slide-background-image" [src]="imagesSizes.large+movie.backdrop_path" alt="">
      </div>

      <div class="slide-pane">

        <h2 class="name">{{movie.title}}</h2>

        <div class="meta">
          <div class="info">
          <span class="rating">
            <span class="material-icons">star</span>
            <span class="rating-value">{{movie.vote_average}}</span>
            <span>/10</span>
          </span>
            <span>{{movie.vote_count}}</span>
            <span>{{movie.release_date | date: 'yyyy'}}</span>
          </div>

          <div class="desc mt-6">
            {{movie.overview}}
          </div>

        </div>
      </div>
    </div>
  </ng-container>
</div>
